<!DOCTYPE html>
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>antonioluna.github.io {{ page.title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="../stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../stylesheets/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>

<div id="header-wrapper">
	
	<div id="header" class="container">
		
		<div id="logo">
        	<span class="icon icon-cog"></span>
			<h1><a href="#">antonioluna.github.io</a></h1>
		</div>
		
		<div id="menu">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Portada</a></li>
				<li><a href="#" accesskey="2" title="">Artículos</a></li>
				<li><a href="#" accesskey="3" title="">Sobre mi</a></li>
				<li class="active"><a href="#" accesskey="4" title="">Contacto</a></li>
			</ul>
		</div>

	</div>

</div>

<div class="wrapper">
	<div id="banner" class="container"><img src="../img/images/banner.jpg" width="1200" height="500" alt="" /></div>
	
	<div id="welcome" class="container">
		<div class="title">
			<h2>{{ page.tagline }}</h2>
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>

</div>

<div id="footer">
	<div class="container">

		<div class="fbox1">
			<span class="icon icon-envelope"></span>
			<span>antonio__luna@outlook.es</span>
		</div>

	</div>
</div>

<div id="copyright">
	<p>&copy; antonioluna.github.io. Todos los derechos reservados. | Diseño: <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	<ul class="contact">
		<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
	</ul>
</div>
</body>

</html>